

.container {
    display: flex;
    height: 200px;
    background-color: #221F20;
}
.red {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.white {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
}
.blue {
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.logo-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  
  .banner-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }

  .homePageContainer {
    padding-top: 50px;
    display: flex;
    flex-direction: column; /* Adjust this as needed */
    background-color: #D5D5D7;
    height: 100vh; /* Fill the entire viewport height */
    align-items: center;
  }

  .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #D5D5D7;
  }

